@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-google-sans-flex), ui-sans-serif, system-ui, sans-serif;
  --color-background: #e5e7eb;
  --color-foreground: #171717;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
