@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-google-sans-flex), ui-sans-serif, system-ui, sans-serif;
  --font-mono:
    var(--font-jetbrains-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  --color-background: #e5e7eb;
  --color-foreground: #171717;

  /* Custom breakpoints */
  --breakpoint-3xl: 1440px;
  --breakpoint-4xl: 1920px;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
